/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150518
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/* 

   ETIQUETAS 
   dar un estilo general o base a toda la Web	

*/

article
{
	border: 1px solid #013729;
	padding: 20px;
	margin-bottom: 25px;
}

article h1
{
	background-color: #88ABCB;
	color: C10D57;
	font-size: 25px;
	padding: 5px 0px;
}

body{
	background: url('../img/back2.jpg');
	font-family: arial;
}

a{
	text-decoration:none;
}

a:hover
{
	color: orange;
}

a:hover:after
{ 
	content: " (" attr(href) ") "; 
}

h1 {	
  font-size: 50px;
  margin-bottom:20px;
  color: green;
  font-family: arial;
  text-align: center;	
}

strong{
	font-weight:bold;
}

p{
	font-family: arial;
	font-size:16px;
	text-align:justify;
	line-height:20px;
}

/*
	VALIDACIONES FORMULARIOS
*/

form input[type="text"]:valid
{
	border:  2px solid green;
	color: green;
}

form input[type="text"]:focus:invalid
{
	border:  2px solid red;
	color: red;
}

/* 
	ESTILOS REUTILIZABLES
    Regla con selector por CLASS para usar en todas las páginas
*/

table.tabla_azul, .tabla_azul tr, .tabla_azul td{
	border:1px solid grey;
	text-align: center;
	font-family: arial;
	font-size: 35px;  
	color: #0099FF;    
}

.tabla_azul th, .tabla_azul td {
  padding: 10px;  
  height: 40px;
}

.tabla_azul th{
  color: grey;	
}


.btn_volver{
	background-color:#DDDDDD;
}

.numero{
  color: #0099FF;
  font-family: arial;
  font-size: 50px;
}

.verde{
	color:green;	
}

/*
	PAGINAS
	Tendremos una seccion por cada pagina de nuestra Web

*/

/*  NAV  */

.navegacion
{
	margin: 40px;
	
}

.wrapper 
{
		height: 100px;             /* height = H1 */
		width: 600px;							 /* width  = W1 */
 
		position: absolute;        /* we want it to be absolutely centered */
		left: 50%;                 /* with these two lines i set the begining of the div in the center of screen */
															/* but I have to "correct" it because I do not want the *BEGINING* to be centered. But the div itself. */
		margin-left: -300px;      /* correct1-> set to left W1/2 so that the middle point of the div is centered horizontally */
		margin-top: -50px;       /* correct2-> set to top H1/2 so that the midddle point of the div is centered vertically */
 
}

#logo img{
	width: 35px;
	height: 35px;
}
			
			.header {
				margin:auto;
				width:800px;
				font-family:Arial, Helvetica, sans-serif;
				position: fixed;
				top: 50px;
				z-index: 10;
			}
			
			ul, ol {
				list-style:none;
			}
			
			nav > ul > li {
				float:left;
			}
			
			nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			nav li a:hover {
				background-color:#434343;
			}
			
			nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			nav li:hover > ul {
				display:block;
			}
			
			nav li ul li {
				position:relative;
			}
			
			nav li ul li ul {
				right:-140px;
				top:0px;
			}

/* FOOTER */

footer
{
	text-align: center;
}

footer img
{
	height: 25px;
}

footer #list_rrss li
{
	width: 84px;
	height: 84px;
}

.icon_facebook
{
	background: url(../img/mini-social-icons.png) no-repeat 0 0;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

.icon_facebook:hover
{
	background: url(../img/mini-social-icons.png) no-repeat 0 -84px;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

.icon_twitter
{
	background: url(../img/mini-social-icons.png) no-repeat -672px 0;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

.icon_twitter:hover
{
	background: url(../img/mini-social-icons.png) no-repeat -672px -84px;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

.icon_youtube
{
	background: url(../img/mini-social-icons.png) no-repeat -840px 0;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

.icon_youtube:hover
{
	background: url(../img/mini-social-icons.png) no-repeat -840px -84px;
	height: 24px;
	padding: 2em 0 1em 84px; 
	display: block;
}

/* HOME */

#home
{
	overflow: auto;
}

#section_index, #aside_index_right
{
	float: left;
}

#section_index
{
	width: 70%;
	margin-right: 2%;
	background-color: green;
}

#aside_index_right
{
	width: 25%;
	background-color: lime;
}

/*CSS3buttongenerator*/
#btn_ganador {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #bef1fa;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn_ganador:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

section #titulo
{
	font-size: 50px;
}

section table
{
	margin-left: auto;
	margin-right: auto;
}

/* CARTELERA */

/*.imagen
{
	position: relative;
}

.texto
{
	position: absolute;
	display: none;
	bottom: 50px;
}

.imagen:hover .texto
{
	background-color: red;
	display: block;
}

.cartel{
	float:left;
	margin-right:30px;
	width:250px;
	height:auto;
}

*/

#cartelera li
{
	float: left;
	width: 30%;
	margin-right: 2%;
}

#cartelera li:nth-child(3n+0)
{
	margin-right: 0px;
}

#cartelera .cartel
{
	position: relative;
	width: 200px;
}

#cartelera .titulo
{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	width: 90%;
	padding: 3% 5%;
	min-height: 40px;
	display: none;
}

#cartelera .cartel:hover .titulo
{
	display: block;
}

#cartelera .titulo h3
{
	text-align: center;
	color: #0099FF;
}

/* CARTELERA_DETALLE */
#cartelera_detalle h1{
	color:blue;
	text-align:left;
}

/* DATOS PERSONALES */

#formulario1
{
	margin: 25px;
}

span 
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

fieldset
{
	border: 1px solid blue;
	padding: 20px 30px;
	margin-bottom: 20px;
}

legend
{
	font-weight: bold;
}

h2 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}

label 
{
    display: block;
    margin: 0px 0px 5px;
}

input[type="text"]
{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

select 
{
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 25%;
    line-height:15px;
}

textarea
{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

.button 
{
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}

.button:hover 
{
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

/* Regla con selector por ID */
#dado
{
	width:200px;
	height: 200px;
}

#encabezado
{
	border:5px dotted green;
	
}

#container{
	width:900px;
	background-color:#FFF;
	min-height:700px;
	margin:0 auto;	
	padding:0 20px;
	border-right:1px solid grey;
	border-left:1px solid grey;
	clear:both;
}



#ficha{
	/*float:left;*/
	width:580px;
	min-height: 360px;
	margin-bottom: 20px;	
	
}

#ficha p{
	
	font-size:35px;
	line-height:45px;
}

#ficha .destacado{
	color:green;
	font-weight:600;
}

#sinopsis{
  /*float: left;*/
  height: 200px;
  overflow: scroll;
}

/*		FIGURE		*/
figure
{
	margin: 25px;
}

.clearfix 
{
  overflow: auto;
}

/* #####################
	sprite_fantasma.jsp
   ##################### */
   
.icon_pacman
{
	background: url(../img/sprite_fantasma.png) #f6e2b9 no-repeat 0 0;
	padding: 2em 0 1em 50px; 
	display: block;
}

.icon_fantasma
{
	background: url(../img/sprite_fantasma.png) #f6e2b9 no-repeat 0 -50px;
	padding: 2em 0 1em 50px; 
	display: block;
}

.icon_robot
{
	background: url(../img/sprite_fantasma.png) #f6e2b9 no-repeat 0 -100px;
	padding: 2em 0 1em 50px; 
	display: block;
}
